Keycloak invalid redirect URL

OAuth2 configuration with keycloak has incorrect set of valid redirect URL:

![image](https://user-images.githubusercontent.com/2544251/83333020-69ad9880-a296-11ea-948f-8a939f331fd2.png)

```
http://localhost:8080/*
```

Looks like `http://localhost:*` doesn't match port so another one with specific port needs to be added by default.

needs to be added, otherwise redirect is crashing with `keycloak Invalid parameter: redirect_uri`


This did work before so maybe this is an improvement in Keycloak 10?

FWIW, wildcards in redirects is not recommended by the OAuth spec.

[RFC-6749 (OAuth 2.0) 204](https://tools.ietf.org/html/rfc6749#section-3.1.2) states that redirect URIs must be absolute:

> The redirection endpoint URI MUST be an absolute URI as defined by
[RFC3986] Section 4.3.

This is security consideration, as it is outlined in the [OAuth 2.0 Threat Model 154](https://tools.ietf.org/html/rfc6819#section-5.2.3.5):

> An authorization server should require all clients to register their "redirect_uri", and the “redirect_uri” should be the full URI as
defined in [RFC6749].

>FWIW, wildcards in redirects is not recommended by the OAuth spec.

They are part of default config right after project generation:

>      "redirectUris": ["http://localhost:*", "https://localhost:*", "http://127.0.0.1:*", "https://127.0.0.1:*", "dev.localhost.ionic:*"],

MMmmm so my reproduction steps were:

1. Create a simple jh project with oauth2
2. Start the app on http://localhost:8080
2. Can't login after redirect, invalid redirect_uri error...
3. Go to keycloak admin page and change valid redirect uri by adding localhost:8080/*
4. Works now


But then I restarted jh and keyloak (in memory h2 database) and it all works without changing anything in admin panel. I think something went bad with docker-compose on keycloak side, can't reproduce this bug any more.